.box{
    border:1px solid black;
    padding: 30px;
    border-radius: 20px;
    opacity: 1.2;
    background-image: linear-gradient(to top, orange,white,white,green);
}
#logo{
    border-radius: 30px;
    margin-left: 220px;
    height: 100px;
    /* opacity: 1.9; */
}
.boxes{
    border:1px solid black;
    padding: 30px;
    border-radius: 20px;
}





    /* input:invalid{animation: shake 300ms;}

@keyframes shake{
    25%{transform :translateX(4px);};
    50%{transform :translateX(-4px);};
    75%{transform :translateX(4px);}

} */