.center{
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.font{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(230, 45, 180, 0.901);
}
#image{

}